body {
    padding: 0;
    margin: 0;
    background: #E8EAE9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.box {
    margin-top: 50px;
    box-shadow: -12px -20px 39px 0px #ffffff, 17px 11px 42px 0px #88A5BF94 ;
    background: #E8EAE9;
    width: 485px;
    height: 580px;
    border-radius: 43px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    .screen {
        margin-top: 44px;
        box-shadow: 6px 6px 15px 0px #88A5BF94 inset ,-10px -10px 16px 0px #ffffff inset;
        background: #EFF7FF;
        width: 388px;
        height: 136px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        font-weight: 800;
        letter-spacing: 5px;
        text-align: center;
        gap: 10px;
    /* Giữ nguyên mấy cái cũ của bạn, chỉ thêm/sửa phần này */
        overflow-x: auto;    /* Chỉ hiện scroll khi tràn ngang */
        overflow-y: hidden;  /* Ẩn tràn dọc */  /* Quan trọng: không cho wrap */
}

    }
    .frame1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 382px;
        .item1 {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
                color: #000000;
                font-weight: 400;
                font-size: 16px;
                margin: 0;
            }
            input {
                box-shadow: 6px 6px 15px 0px #88A5BF94 inset ,-6px -6px 15px 0px #FFFFFFA3 inset;
                width: 176px;
                height: 66px;
                border-radius: 13px;
                background: #D5DEEF;
                border: none;
                font-size: 46px;
                font-weight: 800;
                padding: 10px;
                box-sizing: border-box;
                text-align: center;
            }
        }
    }
    .frame2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 382px;
        .button {
            box-shadow: 6px 10px 18.4px 0px #88A5BF94 ,-3px -7px 23.5px 0px #FFFFFF;
            background: #CBE3FC;
            width: 80px;
            height: 80px;
            border-radius: 14px;
            border: none;
            font-weight: 400;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .button:active {
            transform: scale(0.8);
        }
    }
    .frame3 {
        box-shadow: 6px 6px 20px 0px #b4a2a2b7 ,-3px -7px 23.5px 0px #FFFFFF;
        background: #F3D5D5;
        width: 379px;
        height: 80px;
        border-radius: 14px;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .frame3:active {
        transform: scale(0.8);
    }
}
p 
{
    margin: 0;
}
.c {
    display: flex;
    flex-direction: column;
    gap: 3px;
    p {
        font-size: 16px;
    }
}
#displayinput1, di